<div class="col-sm-6 col-md-3 p-2">
    <div class="card">
        <img class="thumb card-img-top mt-3" src="http://ichef.bbci.co.uk/wwfeatures/wm/live/1280_640/images/live/p0/2v/dp/p02vdpfn.jpg" alt="Card image cap">

                    <div class="card-header">
                        <h6><%= item.volumeInfo.title %></h6>
                    </div>
                    <div class="card-body">

                        <p class="card-text">
                        <%= item.volumeInfo.description %>
                            </p>
                    </div>
                    <div class="card-footer">
                        <a href="/book" class="btn btn-sm btn-primary">Voir la fiche</a>
                    </div>
    </div>
</div>