<div class="col-sm-6 col-md-4 col-lg-3 p-2">
    <div class="card">
        <img class="card-img-top mt-3" src="http://ichef.bbci.co.uk/wwfeatures/wm/live/1280_640/images/live/p0/2v/dp/p02vdpfn.jpg"
            alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Item Title</h5>
            <p class="card-text"></p>
            Item Resume
            </p>
            <a href="/reserver" class="btn btn-primary">Reserver</a>
        </div>
    </div>
</div>