<%- include('./parts/head') %>
    <%- include('./parts/header') %>

        <main class="container">
            <!-- <form action="/books" method="post">
                <div class="row">
                    <h4>Effectuer une recherche :</h4>
                </div>
                <div class="row">
                    <div class="col">
                        <input id="books_search_input" name="searched" class="form-control form-control-sm" type="search" placeholder="Titre ou Auteur">
                    </div>
                    <div class="col">
                        <button id="books_search_button" class="btn btn-sm" type="submit">Rechercher</button>
                    </div>
                </div>
            </form> -->

            <div id="dx" class="row mt-4">
                <div class="col-md-1">
                </div>
                <div id="books_results" class="row col-md-10">

                    <%- include('./elements/item', {item: item}); %>

                </div>
                <div class="col-md-1"></div>
            </div>

        </main>

        <%- include('./parts/footer') %>