<%- include('./parts/head') %>
    <%- include('./parts/header') %>
        <main class="row p-0 m-0">

            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="row">
                    <div class="tile--css_animations__demo1 rounded">
                        <div>
                            FAR WORST
                            <p id="status">M<span>EDIATH</span>EQUE</p><p id="message">CO<span>M</span><span>E</span> IN!</p>
                        </div>
                    </div>

                    <hr>
                    <hr>
                    <b>Bienvenu sur le site de la Médiatheque de :</b>
                    <br>
                    <i>Insérer ici le nom d'une ville cool, mais moins cool que Rennes !</i>
                    <hr>
                    <p>
                        Chères utilisateurs.
                        Cet éxercice s'est fait dans une souffrance relative mais m'a permise de mettre le doigt sur certains biai dans mon organisation.
<br>
Je suis quand même content de mon travail. Vous m'auriez laissé jusqu'a minuit, j'aurai fait des miracles ( ainsi qu'une crise de nerfs )
<br>
Au final
                    </p>
                </div>
            </div>
            <div class="col-md-3"></div>

        </main>
        <%- include('./parts/footer') %>