<%- include('./parts/head') %>
    <%- include('./parts/header') %>

        <main class="container">
            <!--La bande du haut-->
            <div id="dx" class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">

                    <!-- <hr class="mb-4"> -->
                    <!-- <br> -->
                    <h2 class="text-center">Personnal Infos Stealing Form</h2>

                    <!-- <h4 class="mb-3">Billing address</h4> -->
                    <form id="user-form" class="needs-validation">

                        <hr class="mb-4">

                        <h4 class="text-info">Informations publiques visibles sur votre profil :</h4>
                        <br>

                        <div class="mb-3">
                            <label for="username">Username
                                <span class="text-danger">(required)</span>
                            </label>
                            <input class="form-control" id="username" placeholder="Pyrobarbare" type="text" required="" oninput="checkUsername(this)">
                            <div class="invalid-feedback" style="width: 100%;">
                                This username already exist !
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="hobbies">Hobbies</label>
                            <textarea class="form-control" id="hobbies" type="text" maxlength="200"></textarea>
                            <!-- <div class="invalid-feedback">
                        Please enter a valid URL
                    </div> -->
                        </div>

                        <div class="row">
                            <div class="col mb-3">
                                <label for="website">Personnal Website</label>
                                <input class="form-control" id="website" placeholder="http://ewample.com" type="url">
                                <div class="invalid-feedback">
                                    Please enter a valid URL
                                </div>
                            </div>

                            <div class="col mb-3">
                                <label for="color">
                                    <a href="https://www.youtube.com/watch?v=W1oaXqBJRRQ">Any color you like</a>
                                </label>
                                <input class="form-control" id="color" placeholder="http://ewample.com" type="color">
                            </div>
                        </div>

                        <hr class="mb-4">

                        <h4 class="text-info">Informations conservés pour un usage commercial personnel :</h4>
                        <br>

                        <div class="row">

                            <div class="col-md-8 mb-3">
                                <div class="mb-3">
                                    <label for="email">Email
                                        <span class="text-danger">(required)</span>
                                    </label>
                                    <input class="form-control" id="email" placeholder="you@example.com" type="email" required="">
                                    <div class="invalid-feedback">
                                        Please enter a valid email address.
                                    </div>
                                </div>

                                <div class="mb-3">
                                    <label for="password">Password
                                        <span class="text-danger">(required)</span>
                                    </label>
                                    <input class="form-control" id="password" placeholder="tatcherIs100%sexy" type="password" required="" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*?[#?!@$%^*-]).{8,}">
                                    <!--(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,}$-->
                                    <div class="feedback">
                                        <small>

                                            <i>
                                                Password must contain at least 8 characters, one upper case, one number and one spécial char and must not be longer than
                                                24 characters.

                                            </i>
                                            </smal>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4 mb-3">
                                <label for="sex">Sex
                                    <span class="text-danger">(affirmatif)</span>
                                </label>
                                <br>
                                <input type="radio" id="x" name="sex" aria-label="Radio button for following text input"> Man
                                <br>
                                <input type="radio" id="y" name="sex" aria-label="Radio button for following text input"> Woman
                                <br>
                            </div>
                        </div>

                        <hr class="mb-4">

                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="firstname">First name</label>
                                <input class="form-control" id="firstname" placeholder="Bob" value="" type="text">
                                <div class="invalid-feedback">
                                    Valid first name is required.
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="lastname">Last name</label>
                                <input class="form-control" id="lastname" placeholder="Lenon" value="" type="text">
                                <div class="invalid-feedback">
                                    Valid last name is required.
                                </div>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="address">Address</label>
                            <input class="form-control" id="address" placeholder="Street Life" type="text">
                            <div class="invalid-feedback">
                                Please enter your shipping address.
                            </div>
                        </div>

                        <div class="row">
                            <div class="col mb-3">
                                <label for="city">City</label>
                                <input class="form-control" id="city" placeholder="Rennes" type="text">
                                <div class="invalid-feedback">
                                    Please enter your current city.
                                </div>
                            </div>
                            <div class="col mb-3">
                                <label for="zip">Zip</label>
                                <input class="form-control" id="zip" placeholder="35410" type="number">
                                <div class="invalid-feedback">
                                    Zip code required.
                                </div>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="phone">Phone Number</span>
                            </label>
                            <input class="form-control" id="phone" placeholder="you@example.com" type="email">
                            <div class="invalid-feedback">
                                Please enter a cell phone number.
                            </div>
                        </div>

                        <hr class="mb-4">
                        <!-- VALIDATION -->
                        <button class="btn btn-primary btn-lg btn-block" onclick="checkIfFormIsOk()">Continue to robery</button>

                        <hr class="mb-4">
                        <br>
                        <br>

                    </form>

                </div>
                <div class="col-md-2"></div>
                <!-- <aside id="aside" class="col-md-4">
            <h4 class="text-center">All Users</h4>
            <div>

            </div>
        </aside> -->
            </div>
            <!-- La bande du bas -->
            <div id="dy" class="row">
                <!-- ROW Y -->
            </div>
        </main>

        <%- include('./parts/footer') %>