<%- include('./parts/head') %>
    <%- include('./parts/header') %>

        <main class="container">

            <div id="dx" class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">

                        <%- include('./elements/item') %>                    

                </div>
                <div class="col-md-2"></div>
            </div>

        </main>

        <%- include('./parts/footer') %>