html,
body {
  height: 100%;
}

header a {
  color: #6c757d;
}

header a:hover {
  color: #f8f9fa;
}

header a:active {
  color: white;
}

#newuser-button,
#logged-button,
#loggin-button,
#loggin-page,
#content_input,
#content_button,
#secret-link,
#animation {
  display: none;
}

.searchbar {
  height: 30px;
}
/* 
.thumb {
  height: 50px;
} */

.card-header {
  max-height: 70px;
  overflow: hidden;
}

.card-text {
  height: 150px;
  /* white-space: nowrap; */
  overflow: hidden;
  text-overflow: ellipsis;
}
