<footer class="mt-auto text-light bg-dark">
  World
</footer>

</div>





<script src="https://www.gstatic.com/firebasejs/5.1.0/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyDpYuXPcgMvLovxrio8GiRSNNU3_h3vcgg",
    authDomain: "node-blog-46ee1.firebaseapp.com",
    databaseURL: "https://node-blog-46ee1.firebaseio.com",
    projectId: "node-blog-46ee1",
    storageBucket: "node-blog-46ee1.appspot.com",
    messagingSenderId: "803140928732"
  };
  firebase.initializeApp(config);
</script>






<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
  crossorigin="anonymous"></script>
<script src="frameworks/jquery.js"></script>
<script src="frameworks/jquery-ui.js"></script>
<script src="frameworks/bootstrap/js/bootstrap.js"></script>
<script src="frameworks/socket.io.js"></script>
<script src="frameworks/p5/p5.js"></script>
<script src="frameworks/p5/addons/p5.dom.js"></script>

<script src="js/auth.js"></script>
<script src="js/scripts.js"></script>

</body>

</html>