<div id="main_container" class="container-fluid d-flex h-100 p-0 flex-column">

    <header class="m-0 text-light mb-3">

        <nav class="navbar navbar-expand navbar-dark bg-dark p-0 m-0">
            <div class="d-flex justify-content-start mr-auto">


                <form id="searchbar" action="/books" method="post" class="d-flex justify-content-start">
                    <b>Rechercher : </b>
                    <input id="books_search_input" name="searched" class="form-control form-control-sm" type="search" placeholder="Titre ou Auteur">
                    <button id="books_search_button" class="btn btn-sm" type="submit">Rechercher</button>
                </form>
            </div>

            <div class="d-flex justify-content-end ml-auto">
                <div class="nav-item mr-3">
                    <a class="nav-link" href="/join">Join</a>
                </div>


                <div id="newuser-button" class="nav-item dropdown mr-3">
                    <a class="nav-link dropdown-toggle" href="#" id="navbar1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Register</a>
                    <div class="dropdown-menu p-0" aria-labelledby="navbar1">

                        <div id="newuser-form" class="form-signin">
                            <label for="newUsername" class="sr-only">Username</label>
                            <input id="newUsername" class="form-control" placeholder="Username" required="" type="text">
                            <label for="newuserEmail" class="sr-only">Email</label>
                            <input id="newuserEmail" class="form-control" placeholder="Email" required="" type="email">
                            <label for="newuserPassword" class="sr-only">Password</label>
                            <input id="newuserPassword" class="form-control" placeholder="Password" required="" type="password">

                            <button class="btn btn-sm btn-primary btn-block" onclick="register()">Register</button>
                        </div>

                    </div>
                </div>

                <div id="loggin-button" class="nav-item dropdown mr-3">
                    <a class="nav-link dropdown-toggle" href="#" id="navbar1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Log In</a>
                    <div class="dropdown-menu p-0" aria-labelledby="navbar1">

                        <div id="signin-form" class="form-signin">
                            <label for="inputEmail" class="sr-only">Email</label>
                            <input id="inputEmail" class="form-control" placeholder="Email" required="" type="email">
                            <label for="inputPassword" class="sr-only">Password</label>
                            <input id="inputPassword" class="form-control" placeholder="Password" required="" type="password">

                            <button class="btn btn-sm btn-primary btn-block" onclick="login()">Log In</button>
                        </div>

                    </div>
                </div>


                <div id="logged-button" class="nav-item mr-3 bg-secondary rounded">
                    <button class="btn btn-sm btn-warning" onclick="logout();">
                        <i class="fas fa-times"></i>
                    </button>
                    <span id="userpage" class="mr-2" href="user.html">Username</span>
                </div>

            </div>



            <a id="navbar-brand" class="navbar-brand" href="/">Far Worst Mediatheque</a>

        </nav>

    </header>